<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <div class="wiki-header">
        <h1>Welcome to djWiki!</h1>
        <div class="nav-menu">
            <a href="{% url 'wiki_index' %}">Index</a>|
            <a href="{% url 'global_changelog' %}">Change Log</a>
        </div>
    </div>
    <div class="wiki-content"
    {% comment %} Where djwiki main content will be displayed.{% endcomment %}
    {% block content %}{% endblock %}
    </div>
    <div class="wiki-footer"></div>
</body>
</html>