{% extends "base.html" %}

{% block content %}
{% with changelogs as changelogs %}
<h2>{{ title }}</h2>

{% if changelogs %}
{% comment %}Showing a list of change logs for a WikiPages{% endcomment %}
<ul>
    {% for change in changelogs %}
    {% with page=change.wikipage %}
    <li>On <strong>{{ change.created_on }}</strong>
        By <em>{{ change.created_by }}</em>
        {% if not page_url %}
        In <a href="{% url 'view_page' page.url %}">{{ page.title }}</a>
        {% endif %}
        <p>"{{ change.comments|escape }}"</p>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>No change log entries at the moment.</p>
{% endif %}

{% if page_url %}
<p><a href="{% url "view_page" page_url %}"><< Back</a></p>
{% endif %}

{% with paginator=changelogs %}
{% include "snippets/pagination.html" %}
{% endwith %}

{% endwith %}
{% endblock %}