{% extends "base.html" %}

{% block content %}
{% with wikipages=wikipages %}
<h1>{{ title }}</h1>
{% if wikipages %}
{% comment %}Showing a list of WikiPages created in djwiki{% endcomment %}
<ol class="list-unstyled">
    {% for page in wikipages %}
    <li><a href="{% url 'view_page' page.url %}">{{ page.title }}</a></li>
    {% endfor %}
</ol>
{% else %}
<span>No wiki entries at the moment.</span>
{% endif %}
{% with paginator=wikipages %}
{% include "snippets/pagination.html" %}
{% endwith %}
{% endwith %}
{% endblock %}