{% extends "base.html" %}

{% block content %}
{% with wikipage=wikipage %}
    {% if not wikipage.id %}
    <h2>The page "{{ wikipage.title }}" does not exits.</h2>
    <p><a href="{% url 'edit_page' wikipage.url %}">Create this page</a></p>
    {% else %}
    <h2>{{ wikipage.title }}</h2>
    <ul class="list-inline">
        <li><a href="{% url 'edit_page' wikipage.url %}">Edit Page</a></li>
        <li><a href="{% url 'changelog' wikipage.url %}">Change Log</a></li>
    </ul>
    {{ wikipage.rendered_htmlsafe }}
    {% endif %}
{% endwith %}
{% endblock %}